@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*********************
*******GENERAL********
*********************/
* {
    -webkit-transition: all .5s ease;
            transition: all .5s ease;
}
body {
    background: #f2f2f2;
    margin: 0;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 0;
    transition: none;
    line-height: 1.2rem;
    border-width: 0;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 3rem;
}
a {
    /*color: #FFF;*/
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
form {
    width: 100%;
}

.form-disabled {
    cursor: not-allowed;
    pointer-events: none;
}
.absolute {
    position: absolute;
    z-index: 100;
}
.top-25 {
    top: calc(100vh / 4);
}
.font15 {
  font-size: 1.3rem;
}
.btn-primary {
    background-color: #03A9F4;
    border-color: #03A9F4;
}
.btn-link {
    color: #03A9F4;
}
.btn.white-inverted {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.btn.white-inverted:hover {
    background-color: #f7f7f7;
    color: #03A9F4 !important;
    box-shadow: 0 .5rem .5rem rgba(42,42,42,.25);
}
.btn-submit {
    background-color: #3498db;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.btn-submit, .btn-reset {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.btn-info a {
    color: #fff !important;
}
.btn-reset {
    background-color: #d9534f;
    border-color: #d9534f;
}
.btn:hover {
    cursor: pointer;
}
.pri-disabled {
    pointer-events: none;
    color: rgba(180,180,180,.5) !important;
    opacity: .5;
}
.pri-cursor {
    cursor: not-allowed !important;
}
/*********************
********LAYOUT********
*********************/
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}
/*********************
*********NAV**********
*********************/
.navbar {
    background-color: transparent;
    padding: .6rem 0;
}
.navbar.scrolled {
    background-color: #00b8d0;
}
.navbar-brand {
    padding-top: .1rem;
}
.nav-item {
    padding: 0 .3rem;
}
.nav-item a, .navbar-nav .dropdown-toggle {
    color: #fff;
}
.navbar-nav .dropdown-menu {
    background: transparent;
    border: none;
}
.navbar-toggler-right {
    right: 0;
}
.navbar-toggler-icon {
    background-image: url(../img/icon/hamburger.svg);
}
.pri-collapse {
    background-color: #3498db;
    padding-bottom: 1rem;
}
.navbar-collapse {
    padding-left: .7rem;
    padding-top: .7rem;
}
/*********************
******BREADCRUMB******
*********************/
.breadcrumb {
  list-style: none;
  overflow: hidden;
  font: 18px Sans-Serif;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 65px;
  background: brown; /* fallback color */
  background: hsla(34,85%,35%,1);
  position: relative;
  display: block;
  float: left;
}
.breadcrumb li a::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(34,85%,35%,1);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}
.breadcrumb li a::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}
.breadcrumb li:first-child a {
  padding-left: 10px;
}
.breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }
.breadcrumb li:last-child a {
  background: transparent !important;
  color: black;
  pointer-events: none;
  cursor: default;
}
.breadcrumb li:last-child a::after {
  border: 0;
}
.breadcrumb li a:hover {
  background: hsla(34, 85%, 25%, 1);
}
.breadcrumb li a:hover:after {
  border-left-color: hsla(34, 85%, 25%, 1) !important;
}
/*********************
********INDEX*********
*********************/
.header {
    background-color: #03A9F4;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}
.light-blue {
    background-color: linear-gradient(to right, #2196F3, #03A9F4, #03A9F4, #2196F3);
}
.intro {
    padding-top: 6rem;
    padding-bottom: 3rem;
}
@media (min-width: 768px) {
    .intro {
        padding-top: 18rem;
        padding-bottom: 12rem;
    }
}
.intro-h1 {
    padding: 1.5rem 0;
}
.intro-h2 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.img-resize-flex {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 0 20px;
}
.survey-step {
    cursor: pointer;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.survey-step:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}
.locked {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7;
}
.pri-section-heading {
    font-size: 1.5rem;
    line-height: 1.425;
}

/*
 * Forms
 *
 *
 */
 .form-control.login {
     background-color: transparent;
     border: none;
     border-bottom: 1px solid #9e9e9e;
     border-radius: 0;
     outline: none;
     height: 2rem;
     width: 100%;
     font-size: 1rem;
     margin: 0 0 15px 0;
     padding: 0;
     box-shadow: none;
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     transition: all .3s;
     margin-left: 3rem;
     width: calc(100% - 3rem);
 }
.control-label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    margin-left: 3rem;
}
[type="checkbox"]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
}
[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}
[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.control-label.active {
    color: #03A9F4;
    font-size: .8rem;
    transform: translateY(-70%);
}

/*
 * Login
 *
 *
 */
 .form-auth .form-control.login {
    margin-top: -1.8rem;
 }

 .form-auth .control-label {
    margin-top: -2.4rem;
 }
 .full-screen {
     background: linear-gradient(to right, #2196F3, #03A9F4, #03A9F4, #2196F3);
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100vw;
     height: 100vh;
 }
.panel {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}
.panel-body {
    margin-top: 1.6rem;
}
.profile-image-login {
    padding: .7rem 0;
    width: 50%;
}
.btn-logout {
    float: right;
}






/*********************
*****TERMINOLOGY******
*********************/
.definition-container {
    /*display: flex;*/
    margin-bottom: 2rem;
    border: 1px solid rgba(240,240,240,.15);
}
.language-option {
    margin-bottom: 1.4rem;
}
.definition-container p {
    display: inline;
}
.definition-container ul {
    margin-top: 1rem;
}
.definition-container li {
    margin-bottom: .4rem;
    list-style: disc;
}
.definition-information {
    padding: 1rem;
    /*background-color: rgba(240,240,240,.15);*/
}
.pri-keyword {

}
.start-preliminary {
    width: 200px;
}
/*********************
********SURVEY********
*********************/
.assessment-wrapper {
    background: #f2f2f2;
    position: relative;
    top: 240px;
    margin-bottom: 240px;
}
@media (max-width: 576px) {
    .assessment-wrapper {
        padding: 0 1rem;
    }
}


.bd-sidebar {
    -ms-flex-order: 0;
    order: 0;
}
.bd-sidebar {
    top: -130px;
}
@media (min-width: 992px) {
    .bd-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
        z-index: 1000;
        max-height: calc(100vh - 4rem);
        border-right: 1px solid rgba(0,0,0,.1);
    }
}
@media (min-width: 1200px) {
    .bd-sidebar {
        max-width: 320px;
    }
}
.dashboard-menu-wrapper button {
    cursor: pointer;
    float: right;
    padding: .4rem;
}
.dashboard-menu-wrapper button:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.dashboard-menu-container {
    background-color: #f2f2f2;
    padding: 1rem 0 1rem 2rem;
}
@media (min-width: 992px) {
    .dashboard-menu-container {
        padding-left: 1rem;
    }
}
.dashboard-menu li {
    border-bottom: 1px solid #e9e9e9;
    padding: 1rem 0 1rem 0;
}
.dashboard-menu li:last-child {
    border: 0;
}
.dashboard-menu li:hover {
    color: rgba(140,140,140,1);
}
.dashboard-menu li a{
    color: rgba(80,80,80,1);
}
.dashboard-menu li i {
    width: 1.4rem;
}
.nav-chapter {
    padding-left: 1.5rem;
}
.nav-chapter .show-chapter:first-child {
    padding-top: 1.5rem;
}
.nav-chapter .show-chapter:last-child {
    padding-bottom: 0;
}
.dashboard-header {
    background: url('../img/background/dashboard.jpg') no-repeat;
    height: 240px;
    width: 100%;
    position: fixed;
    z-index: -2;
}
.dashboard-container {
    background-color: #FFF;
    position: relative;
    -webkit-box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.3);
    -ms-box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.3);
    -o-box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.3);
    box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.3);
    top: -120px;
    z-index: 50;
    padding-bottom: 1rem;
}
.dashboard-active {
    margin-bottom: 2rem;
}
.dashboard-container i {
    cursor: pointer;
    float: right;
    margin-top: .2rem;
}
.dashboard-container .constraint-information {
    margin-bottom: 2rem;
}
.dashboard-description {
    padding: .8rem;
    text-align: center;
}

.item-container {
    border: 1px solid rgba(220,220,220,0.2);
    margin: 0 auto;
    margin-bottom: 1.6rem;
    width: 98%;
}
.item-container.related {
    background-color: #EFEFEF;
}
.item-title {
    background: #F5F5F5;
    font-weight: bold;
    padding: .6rem 1rem;
    margin-bottom: .8rem;
    width: 100%;
}
.item-title h3 {
    font-size: 1.4rem;
    float: left;
}
.duty-container .duty-title {
    background-color: #9E9E9E;
    color: #FFF;
}
.dispensation-container .item-title {
    background-color: #00BCD4;
    color: #FFF;
}
.dispensation-feature-container .item-title,
.related-feature-container .item-title {
    background-color: #00BFA5;
    color: #FFF;
}

.item-question {
    padding: 0 15px;
}
.radio-label {
    margin-bottom: 0;
}
.item-relation {
    padding-top: .6remrem;
}
.item-relation .related-chapter {
    color: #0275d8 !important;
}
.item-answers {
    padding: 0 .9rem;
    padding-top: .6rem;
}
.item-answers .form-group:first-of-type {
    margin-bottom: 0;
}
.multiple-question {
    border-bottom: 1px solid #efefef;
    margin-bottom: .6rem;
}
.multiple-question:last-child {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.radio-label {
    display: inline-block;
    padding-right: 20px;
    font-size: 18px;
    line-height: 49px;
    cursor: pointer;
}
.radio-label:hover .inner {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: .5;
}
.radio-label input {
    width: 1px;
    height: 1px;
    opacity: 0;
}
.radio-label input[type="radio"]:checked + .outer .inner {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.radio-label input[type="radio"]:checked + .outer {
    border: 3px solid #f08b3b;
}
.radio-label input:focus + .outer .inner {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    background-color: #e67012;
}
.radio-label .outer {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin: 10px 9px 10px 10px;
    border: 3px solid #0c70b4;
    border-radius: 50%;
    background-color: #fff;
}
.radio-label .inner {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 16px;
    height: 16px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: block;
    border-radius: 50%;
    background-color: #f08b3b;
    opacity: 0;
    margin-top: -1px;
    margin-left: -1px;
}
.label-comment,
.label-attachment {
    font-weight: 500;
    padding-right: 1rem;
}
.attachment-placeholder {
    height: 39px;
}
/*
.attachment::-webkit-file-upload-button {
    visibility: hidden;
}
.attachment::before {
     content: 'Select some files';
     display: inline-block;
     background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
     border: 1px solid #999;
     border-radius: 3px;
     padding: 5px 8px;
     outline: none;
     white-space: nowrap;
     -webkit-user-select: none;
     cursor: pointer;
     text-shadow: 1px 1px #fff;
     font-weight: 700;
     font-size: 10pt;
}
.attachment:hover::before {
    border-color: black;
}
.attachment:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
*/

/*********************
******DASHBOARD*******
*********************/
.category {
    padding-bottom: 1.5rem;
    text-align: center;
}
.category-outer {
    background-color: rgba(180,180,180,1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 100px;
    margin: 0 auto;
    height: 110px;
    width: 110px;
    margin-bottom: 1rem;
}
.category-inner {
    background-color: rgba(255,255,255,1);
    border-radius: 100px;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    height: 80px;
    width: 80px;
}
.category-title {
    font-size: 1.2rem;
    padding: .1rem 0;
    padding-top: 1rem;
}
.category.disabled {
    opacity: .3;
    pointer-events: none;
}

.goto-report {
    width: 160px;
}
.subfeature-container .duty-title {
    background-color: #616161;
}
/*********************
********REPORT********
*********************/
.report-hidden {
    height: 0 !important;
    opacity: 0 !important;
    z-index: -1 !important;
    visibility: hidden !important;
    display: none;
}
.focus-wrapper {
    height: auto;
    z-index: 999;
    opacity: 1;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.report-heading {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
.report-heading i {
    margin-top: 0;
}
.stats-container {
    padding-bottom: 0;
}
.pri-legend-element {
    margin-left: auto;
}
@media (max-width: 575px) {
    .pri-legend-element {
        width: 100%;
    }
}
.pri-legend-term {
    display: inline-block;
    margin-right: .2rem;
}
.pri-legend-square {
    position: relative;
    display: inline-block;
    border-radius: .2rem;
    height: 1.2rem;
    width: 1.2rem;
    top: .2rem;
}
.pri-legend-square.green {
    background-color: #00C853;
}
.pri-legend-square.red {
    background-color: #F44336;
}
.pri-legend-square.orange {
    background-color: #FF5722;
}
.pri-legend-square.grey {
    background-color: #EEEEEE;
}
.pri-legend-square.darkgrey {
    background-color: #9E9E9E;
}
.chapter-section {
    border: 1px solid rgba(120,120,120,0.1);
    margin-bottom: 2.2rem;
    overflow: hidden;
    height: 380px;
}
.chapter-section.in {
    height: auto;
    overflow: auto;
}
.chapter-section.hidden {
    opacity: 0;
    height: 0;
}
.chapter-section.focus {
    overflow: hidden;
}
.chapter-wrapper.selectable .chapter-section {
    cursor: cell;
}
.chapter-section.selected {
    background: rgba(52,152,219,.3);
    border: 1px dotted #ccc;
    cursor: cell;
}
.chapter-section.selected .chapter-title,
.chapter-section.selected .separation-title {
    background: rgba(52,152,219, .5);
    color: #fff;
}
.chapter-section.selected .btn-submit {
    color: #3498db;
    background: #fff;
}
.chapter-wrapper.selectable .chapter-body,
.chapter-section.selected .chapter-body {
    pointer-events: none;
}
.chapter-section .chapter-title {
    background-color: #BCBCBC;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: .6rem .8rem;
}
.chapter-body {
    padding: 0 1rem;
    padding-top: 1rem;
}
.chapter-detail,
.chapter-print {
     -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
}
.chapter-detail.in,
.chapter-print.in {
    opacity: 1;
}
.chapter-print {
    padding-top: 1rem;
}
.chapter-section,
.chapter-body,
.chapter-detail,
.chapter-print {
    -webkit-transition: all 1s;
    transition: all 1s;
}
.fulfilled-container .chapter-title,
.unfulfilled-container .chapter-title,
.not-applicable-container .chapter-title {
    border: 1px solid #00C853;
    color: #00C853;
    background-color: #FFF;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.unfulfilled-container .chapter-title {
    border: 1px solid #F44336;
    color: #F44336;
}
.not-applicable-container .chapter-title {
    border: 1px solid #FDD835;
    color: #FDD835;
}
#expand-fulfilled,
#expand-unfulfilled {
    color: #00C853;
    margin-top: .3rem;
    z-index: 99;
}
#expand-unfulfilled {
    color: #F44336;
}

.report-item-container {
    border: 1px solid rgba(120,120,120,0.1);
}
.report-item-container .item-paragraph {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.evaluation-container {
    margin-bottom: 0;
    padding: 1rem;
}
.paragraph-number {
    float: right;
    cursor: pointer;
}
.report-information {
    padding-top: 1.2rem;
}
.feature-container.indent {
    /*padding-left: 2.4rem;
    padding-right: 1rem;*/
}
.feature-container.green .item-title {
    background-color: #00C853;
    color: #FFF;
}
.feature-container.red .item-title {
    background-color: #F44336;
    color: #FFF;
}
.pri-report-progress-wrapper {
    padding: 2rem 0;
}

.report-item-container .duty-title {
    font-weight: bold;
    margin-bottom: 1.2rem;
}
.report-item-container {
    margin-bottom: 1rem;
}
.report-item-container .feature-container {
    border: 1px solid rgba(120,120,120,0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.report-item-container .item-answers {
    padding-left: 2.3rem;
    padding-right: 1rem;
}
.report-item-container.report-hidden {
    margin-bottom: 0;
}

/*********************
*********MODAL********
*********************/
.modal {
    z-index: -1;
    opacity: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.in {
    opacity: 1;
    z-index: 1050;
}
.modal, .modal-dialog {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.modal {
    background-color: rgba(255,255,255, 0.85);
}
.modal-dialog, .modal-content {
    width: 100%;
}
.modal-title {
    float: left;
}
.modal-dialog .close {
    float: right;
}
.modal-footer {
    border-top: none !important;
}
/*********************
********LOADING*******
*********************/
.pri-loading-title {
    color: #9E9E9E;
}
.pri-loading-message {
    color: #9E9E9E;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    margin-top: .4rem;
}
/*********************
*******COOKIEBAR******
*********************/
.cookie-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    line-height: 24px;
    color: #eeeeee;
    text-align: center;
    padding: 6px;
    width: 100%;
    color: white;
    background-color: #444;
    opacity: 1;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.cookie-bar.gone {
    opacity: 0;
    z-index: -1;
}
.cookie-bar p {
    margin-bottom: 0;
}
.cookie-policy {
    color: #FFF;
    text-decoration: underline;
}
#accept-cookie {
    margin-left: 100px;
}



.pri-circle-wrapper {
    width: 100%;
    height: 120px;
}
.c100 {
    float: none;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.tooltip-inner {
    background-color: #00b8d0;
    border-bottom-color: #00b8d0;
    position: relative;
    padding: .6rem 1rem;
    text-align: left;
    left: -180px;
    max-width: 400px;
    white-space: pre-wrap;
}
.tooltip.bottom {
    background-color: #00b8d0;
    border-color: #00b8d0;
}
.tooltip-arrow {
    display: none !important;
    width:0;
    height:0
}
.tooltip-paragraph {
    font-weight: bold;
    font-size: 1rem;
}


.teaser-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-dashboard {
    order: 20;
}
/*********************
********TOGGLE********
*********************/
.pri-toggle-name {
    margin-right: 1rem;
    margin-top: -.2rem;
}
.pri-toggle-label {
    position: relative;
    display: block;
    height: 20px;
    width: 44px;
    background: #898989;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.pri-toggle-label:after {
    position: absolute;
    left: -2px;
    top: -3px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: '';
    transition: all 0.3s ease;
}
.pri-toggle-label:active:after {
    transform: scale(1.15, 0.85);
}
.pri-toggle-checkbox:checked ~ label {
    background: #78bbe8;
}
.pri-toggle-checkbox:checked ~ label:after {
    left: 20px;
    background: #3498db;
}
.pri-toggle-checkbox:disabled ~ label {
    background: #d5d5d5;
    pointer-events: none;
}

.pri-toggle-checkbox:disabled ~ label:after {
    background: #bcbdbc;
}
/*
**
**
**
** Footer
*/
footer {
    position: relative;
    background-color: rgb(237, 237, 237);
    font-size: .85rem;
}
footer h4 {
    margin-bottom: 1.4rem;
    font-size: .8rem;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #211746;
}
footer a {
    color: #42526E;
}
footer ul {
    line-height: 1.8rem;
}
footer .sub-footer {
    background-color: rgba(255,255,255,0.4);
}
footer .sub-footer ul {
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
