@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    margin: 0;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 0;
    transition: none;
    line-height: 1.2rem;
    border-width: 0;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 3rem;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.absolute {
    position: absolute;
    z-index: 100;
}
.top-25 {
    top: calc(100vh / 4);
}
.font15 {
  font-size: 1.3rem;
}





.item-container {
    border: 1px solid rgba(120,120,120,0.1);
    padding-bottom: 1.4rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2.2rem;
}
.item-container.related {
    background-color: #EFEFEF;
}
.item-title {
    background: #F5F5F5;
    border-bottom: 1px solid rgba(120,120,120,0.1);
    font-weight: bold;
    padding: 15px;
    margin-bottom: 1.2rem;
    width: 100%;
}
.item-title h3 {
    font-size: 1.4rem;
    float: left;
}
.duty-container .duty-title {
    background-color: #9E9E9E;
    color: #FFF;
}
.dispensation-container .item-title {
    background-color: #00BCD4;
    color: #FFF;
}
.dispensation-feature-container .item-title,
.related-feature-container .item-title {
    background-color: #00BFA5;
    color: #FFF;
}

.item-question {
    padding: 0 15px;
}
.item-relation {
    padding-top: 2.4rem;
}
.item-relation .related-chapter {
    color: #0275d8 !important;
}
.item-answers {
    padding: 0 15px;
    padding-top: 1.2rem;
}












/*********************
******DASHBOARD*******
*********************/
.category {
    padding-bottom: 4rem;
    text-align: center;
}
.category-outer {
    background-color: rgba(180,180,180,1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 100px;
    margin: 0 auto;
    height: 110px;
    width: 110px;
    margin-bottom: 1rem;
}
.category-inner {
    background-color: rgba(255,255,255,1);
    border-radius: 100px;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    height: 80px;
    width: 80px;
}
.category-title {
    font-size: 1.2rem;
    padding: .1rem 0;
    padding-top: 1rem;
}
.category.disabled {
    opacity: .3;
    pointer-events: none;
}

.goto-report {
    width: 160px;
}
.subfeature-container .duty-title {
    background-color: #616161;
}
/*********************
********REPORT********
*********************/
.report-hidden {
    height: 0 !important;
    opacity: 0 !important;
    z-index: -1 !important;
    visibility: hidden !important;
    display: none;
}
.focus-wrapper {
    height: auto;
    z-index: 999;
    opacity: 1;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.report-heading {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
.report-heading i {
    margin-top: 0;
}
.stats-container {
    padding-bottom: 0;
}
.pri-legend-element {
    margin-left: auto;
}
@media (max-width: 575px) {
    .pri-legend-element {
        width: 100%;
    }
}
.pri-legend-term {
    display: inline-block;
    margin-right: .2rem;
}
.pri-legend-square {
    position: relative;
    display: inline-block;
    border-radius: .2rem;
    height: 1.2rem;
    width: 1.2rem;
    top: .2rem;
}
.pri-legend-square.green {
    background-color: #00C853;
}
.pri-legend-square.red {
    background-color: #F44336;
}
.pri-legend-square.orange {
    background-color: #FF5722;
}
.pri-legend-square.grey {
    background-color: #EEEEEE;
}
.pri-legend-square.darkgrey {
    background-color: #9E9E9E;
}
.chapter-section {
    border: 1px solid rgba(120,120,120,0.1);
    margin-bottom: 2.2rem;
    overflow: hidden;
    height: 380px;
}
.chapter-section.in {
    height: auto;
    overflow: auto;
}
.chapter-section.hidden {
    opacity: 0;
    height: 0;
}
.chapter-section.focus {
    overflow: hidden;
}
.chapter-wrapper.selectable .chapter-section {
    cursor: cell;
}
.chapter-section.selected {
    background: rgba(52,152,219,.3);
    border: 1px dotted #ccc;
    cursor: cell;
}
.chapter-section.selected .chapter-title,
.chapter-section.selected .separation-title {
    background: rgba(52,152,219, .5);
    color: #fff;
}
.chapter-section.selected .btn-submit {
    color: #3498db;
    background: #fff;
}
.chapter-wrapper.selectable .chapter-body,
.chapter-section.selected .chapter-body {
    pointer-events: none;
}
.chapter-section .chapter-title {
    background-color: #BCBCBC;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: .6rem .8rem;
}
.chapter-body {
    padding: 0 1rem;
    padding-top: 1rem;
}
.chapter-detail,
.chapter-print {
     -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
}
.chapter-detail.in,
.chapter-print.in {
    opacity: 1;
}
.chapter-print {
    padding-top: 1rem;
}
.chapter-section,
.chapter-body,
.chapter-detail,
.chapter-print {
    -webkit-transition: all 1s;
    transition: all 1s;
}
.fulfilled-container .chapter-title,
.unfulfilled-container .chapter-title,
.not-applicable-container .chapter-title {
    border: 1px solid #00C853;
    color: #00C853;
    background-color: #FFF;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.unfulfilled-container .chapter-title {
    border: 1px solid #F44336;
    color: #F44336;
}
.not-applicable-container .chapter-title {
    border: 1px solid #FDD835;
    color: #FDD835;
}
#expand-fulfilled,
#expand-unfulfilled {
    color: #00C853;
    margin-top: .3rem;
    z-index: 99;
}
#expand-unfulfilled {
    color: #F44336;
}

.report-item-container {
    border: 1px solid rgba(120,120,120,0.1);
}
.report-item-container .item-paragraph {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.evaluation-container {
    margin-bottom: 0;
    padding: 1rem;
}
.paragraph-number {
    float: right;
    cursor: pointer;
}
.report-information {
    padding-top: 1.2rem;
}
.feature-container.indent {
    /*padding-left: 2.4rem;
    padding-right: 1rem;*/
}
.feature-container.green .item-title {
    background-color: #00C853;
    color: #FFF;
}
.feature-container.red .item-title {
    background-color: #F44336;
    color: #FFF;
}
.pri-report-progress-wrapper {
    padding: 2rem 0;
}

.report-item-container .duty-title {
    font-weight: bold;
    margin-bottom: 1.2rem;
}
.report-item-container {
    margin-bottom: 1rem;
}
.report-item-container .feature-container {
    border: 1px solid rgba(120,120,120,0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.report-item-container .item-answers {
    padding-left: 2.3rem;
    padding-right: 1rem;
}
.report-item-container.report-hidden {
    margin-bottom: 0;
}





.pri-circle-wrapper {
    width: 100%;
    height: 120px;
}
.c100 {
    float: none;
    margin: 0 auto;
    right: 0;
    left: 0;
}















.report-hidden {
    height: auto !important;
    opacity: 1 !important;
    z-index: 99 !important;
    visibility: visible !important;
    display: block;
}
.chapter-print {
    display: none;
}
.chapter-title {
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.item-question,
.item-paragraph {
    margin-top: 12px;
    margin-bottom: 6px;
}
.item-paragraph {
    text-indent: 4px;
}
.chapter-split,
#view-details {
    display: none;
}
